#title{
    background-color: #4bb3f3;
    
    
}

h1 {
    font-family: 'Montserat', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserat', sans-serif;
    font-weight: bold;
    font-size: 1.5;  
}
h3{
    font-family: 'Montserat', sans-serif;
    font-weight: bold;
}

p{
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15%;
    
}

/* Navigation Bar */

.navbar-brand {
    font-family: 'ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar { 
    padding: 0 0 4.5rem;
    
}

.nav-item{
    padding: 0% 18%;
}

.nav-link{
    font-family: 'Montserat', sans-serif;
    font-size: 1.5rem;

}

.nav-link:hover{
    color:#ffffff;
    font-size: 1.5rem;
    transform: scale(1.05);

}

/* Download-buttons*/
.download-button{
    margin: 5% 3% 5% 0%;
    padding: 7%, 15%;  
}

.download-button:hover{
    transform: scale(1.15);

}

.title-image{
    position:absolute;
    width: 70%;
    border-radius: 15%;
    transform: rotate(0deg);
    z-index: 0;
    border-style:ridge;
}




/*Features section*/
#features{
    padding: 7% 15%;
    background-color:#EAF6F6;
    background-image: url("images/frog-chowy.jpg")

}

.feature-box{
    text-align: center;
    padding: 5% 5%;
    
}

.icons{
    margin-bottom: 1.5rem;
    color: orange;
}

.icons:hover{
    color: #FFB9B9;
    transform: scale(1.15);
}

.resume-image{
    
    width: 70%;
    border-radius: 15%;
}

/* testimonial section*/
#testimonials{
    text-align: center;
    background-color:#4bb3f3;
    
}

.testimonial-image{
    
    width: 100%;
    margin: 10px;
}

.carousel-item{
    text-align: center;
    padding: 7% 15%;    
}


/*Call to action section cta*/

#cta{
    background-color:#6E85B7;
    color: #ffffff;
    padding: 7% 15%;
    text-align: center;

}

.cta-heading{
    font-family: 'Montserat', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

.cta-anchor {
    color:#ffffff;
}

.cta-anchor:hover{
    color:#ffffff;
    text-shadow: #8f8f8f;
}

/* Footer section */

#footer{
    padding: 7% 15%;
    text-align: center;
    background-color: #EAF6F6;
}

.social-icon{
    margin: 10px 20px;
    transform: scale(1.10);
}

.submit-button{
    margin: 2px 4px;
}
/* @media queries*/

@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform:rotate(0deg);
    }
}